<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Constants</key>
	<dict>
		<key>AdMob</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>appIdIOS</key>
			<string>ca-app-pub-8966545526103390~4717282854</string>
			<key>appIdAndroid</key>
			<string>ca-app-pub-7140303866105182~8023860631</string>
			<key>bannerIdIOS</key>
			<string>ca-app-pub-8966545526103390/6076493765</string>
			<key>interstitialIdIOS</key>
			<string>ca-app-pub-8966545526103390/3450330423</string>
			<key>rewardedIdIOS</key>
			<string>ca-app-pub-7140303866105182/1111111111</string>
			<key>bannerIdAndroid</key>
			<string>ca-app-pub-7140303866105182/2222222222</string>
			<key>interstitialIdAndroid</key>
			<string>ca-app-pub-7140303866105182/3333333333</string>
			<key>rewardedIdAndroid</key>
			<string>ca-app-pub-7140303866105182/4444444444</string>
		</dict>
		<key>Chartboost</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>appIdIOS</key>
			<string>6a0be77830dd7a51f0e7f484</string>
			<key>appSignatureIOS</key>
			<string>39ea0c727272faa51fcda511af63f68d0f84b491</string>
			<key>interstitialLocationIOS</key>
			<string>Default</string>
		</dict>
	</dict>
	<key>Setup</key>
	<dict>
		<key>Banner</key>
		<dict>
			<key>OnMainMenu</key>
			<dict>
				<key>admobBanner</key>
				<integer>1</integer>
				<key>showAfterCount</key>
				<integer>1</integer>
			</dict>
			<key>OnLevelsMenu</key>
			<dict>
				<key>admobBanner</key>
				<integer>1</integer>
				<key>showAfterCount</key>
				<integer>1</integer>
			</dict>
			<key>OnPauseMenu</key>
			<dict>
				<key>admobBanner</key>
				<integer>1</integer>
				<key>showAfterCount</key>
				<integer>1</integer>
			</dict>
			<key>OnGameOver</key>
			<dict>
				<key>admobBanner</key>
				<integer>1</integer>
				<key>showAfterCount</key>
				<integer>1</integer>
			</dict>
			<key>OnPlaying</key>
			<dict>
				<key>admobBanner</key>
				<integer>0</integer>
				<key>showAfterCount</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Interstitial</key>
		<dict>
			<key>OnGameOver</key>
			<dict>
				<key>admobInterstitial</key>
				<integer>0</integer>
				<key>chartboostInterstitial</key>
				<integer>1</integer>
				<key>showAfterCount</key>
				<integer>1</integer>
			</dict>
			<key>OnMainMenu</key>
			<dict>
				<key>admobInterstitial</key>
				<integer>0</integer>
				<key>showAfterCount</key>
				<integer>0</integer>
			</dict>
			<key>OnLevelsMenu</key>
			<dict>
				<key>admobInterstitial</key>
				<integer>0</integer>
				<key>showAfterCount</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Rewarded</key>
		<dict>
			<key>OnMainMenu</key>
			<dict>
				<key>admobRewarded</key>
				<integer>0</integer>
				<key>showAfterCount</key>
				<integer>0</integer>
			</dict>
			<key>OnGameOver</key>
			<dict>
				<key>admobRewarded</key>
				<integer>0</integer>
				<key>showAfterCount</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
