<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BackgroundLayers_1_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 1032}, {1900, 412}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1900, 412}}</string>
			<key>sourceSize</key>
			<string>{1900, 412}</string>
		</dict>
		<key>BackgroundLayers_2_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 1448}, {1900, 600}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1900, 600}}</string>
			<key>sourceSize</key>
			<string>{1900, 600}</string>
		</dict>
		<key>BackgroundLayers_4_0</key>
		<dict>
			<key>frame</key>
			<string>{{783, 86}, {1082, 204}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1082, 204}}</string>
			<key>sourceSize</key>
			<string>{1082, 204}</string>
		</dict>
		<key>BackgroundLayers_5_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 648}, {1900, 380}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1900, 380}}</string>
			<key>sourceSize</key>
			<string>{1900, 380}</string>
		</dict>
		<key>Characters_0_7</key>
		<dict>
			<key>frame</key>
			<string>{{1790, 465}, {202, 179}}</string>
			<key>offset</key>
			<string>{-0, 0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27, 27}, {202, 179}}</string>
			<key>sourceSize</key>
			<string>{256, 234}</string>
		</dict>
		<key>Characters_1_4</key>
		<dict>
			<key>frame</key>
			<string>{{1584, 465}, {202, 179}}</string>
			<key>offset</key>
			<string>{-0, 0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27, 27}, {202, 179}}</string>
			<key>sourceSize</key>
			<string>{256, 234}</string>
		</dict>
		<key>Characters_1_5</key>
		<dict>
			<key>frame</key>
			<string>{{1378, 465}, {202, 179}}</string>
			<key>offset</key>
			<string>{-0, 0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27, 27}, {202, 179}}</string>
			<key>sourceSize</key>
			<string>{256, 234}</string>
		</dict>
		<key>Characters_2_2</key>
		<dict>
			<key>frame</key>
			<string>{{1794, 304}, {202, 157}}</string>
			<key>offset</key>
			<string>{-3, -8.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 25}, {202, 157}}</string>
			<key>sourceSize</key>
			<string>{208, 190}</string>
		</dict>
		<key>Characters_Jump_0_0</key>
		<dict>
			<key>frame</key>
			<string>{{1378, 297}, {202, 164}}</string>
			<key>offset</key>
			<string>{-0.5, -0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27, 26}, {202, 164}}</string>
			<key>sourceSize</key>
			<string>{257, 215}</string>
		</dict>
		<key>Characters_Jump_1_0</key>
		<dict>
			<key>frame</key>
			<string>{{1584, 298}, {206, 163}}</string>
			<key>offset</key>
			<string>{0.5, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26, 26}, {206, 163}}</string>
			<key>sourceSize</key>
			<string>{257, 215}</string>
		</dict>
		<key>InterfaceCS_3_0</key>
		<dict>
			<key>frame</key>
			<string>{{1904, 1636}, {95, 100}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {95, 100}}</string>
			<key>sourceSize</key>
			<string>{95, 100}</string>
		</dict>
		<key>InterfaceCS_5_0</key>
		<dict>
			<key>frame</key>
			<string>{{1904, 1740}, {95, 100}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {95, 100}}</string>
			<key>sourceSize</key>
			<string>{95, 100}</string>
		</dict>
		<key>InterfaceGO_1_0</key>
		<dict>
			<key>frame</key>
			<string>{{1904, 1844}, {95, 100}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {95, 100}}</string>
			<key>sourceSize</key>
			<string>{95, 100}</string>
		</dict>
		<key>InterfaceGO_2_0</key>
		<dict>
			<key>frame</key>
			<string>{{1904, 1948}, {95, 100}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {95, 100}}</string>
			<key>sourceSize</key>
			<string>{95, 100}</string>
		</dict>
		<key>InterfaceMM_2_0</key>
		<dict>
			<key>frame</key>
			<string>{{1904, 1532}, {95, 100}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {95, 100}}</string>
			<key>sourceSize</key>
			<string>{95, 100}</string>
		</dict>
		<key>InterfacePM_0_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 58}, {779, 232}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {779, 232}}</string>
			<key>sourceSize</key>
			<string>{779, 232}</string>
		</dict>
		<key>PZGameplayBasicRunner_platforms_2_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 294}, {1374, 350}}</string>
			<key>offset</key>
			<string>{0.5, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {1374, 350}}</string>
			<key>sourceSize</key>
			<string>{1375, 350}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>animation_s2.png</string>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>smartupdate</key>
		<string>$ProjectZero:Smartupdate:$</string>
		<key>textureFileName</key>
		<string>animation_s2.png</string>
	</dict>
</dict>
</plist>
