<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BackgroundLayers_4_0</key>
		<dict>
			<key>frame</key>
			<string>{{393.5, 564}, {541, 102}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {541, 102}}</string>
			<key>sourceSize</key>
			<string>{541, 102}</string>
		</dict>
		<key>BackgroundLayers_7_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 444}, {541, 102}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {541, 102}}</string>
			<key>sourceSize</key>
			<string>{541, 102}</string>
		</dict>
		<key>BackgroundLayers_8_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 338}, {541, 102}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {541, 102}}</string>
			<key>sourceSize</key>
			<string>{541, 102}</string>
		</dict>
		<key>Characters_0_4</key>
		<dict>
			<key>frame</key>
			<string>{{901, 934.5}, {101, 89.5}}</string>
			<key>offset</key>
			<string>{-0, 0.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.5, 13.5}, {101, 89.5}}</string>
			<key>sourceSize</key>
			<string>{128, 117}</string>
		</dict>
		<key>Characters_0_5</key>
		<dict>
			<key>frame</key>
			<string>{{796, 934.5}, {101, 89.5}}</string>
			<key>offset</key>
			<string>{-0, 0.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.5, 13.5}, {101, 89.5}}</string>
			<key>sourceSize</key>
			<string>{128, 117}</string>
		</dict>
		<key>Characters_0_6</key>
		<dict>
			<key>frame</key>
			<string>{{691, 934.5}, {101, 89.5}}</string>
			<key>offset</key>
			<string>{-0, 0.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.5, 13.5}, {101, 89.5}}</string>
			<key>sourceSize</key>
			<string>{128, 117}</string>
		</dict>
		<key>Characters_2_0</key>
		<dict>
			<key>frame</key>
			<string>{{796, 852}, {100.5, 78.5}}</string>
			<key>offset</key>
			<string>{-1.5, -4.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 12.5}, {100.5, 78.5}}</string>
			<key>sourceSize</key>
			<string>{103.5, 95}</string>
		</dict>
		<key>Characters_2_1</key>
		<dict>
			<key>frame</key>
			<string>{{691, 852}, {101, 78.5}}</string>
			<key>offset</key>
			<string>{-1.5, -4.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 12.5}, {101, 78.5}}</string>
			<key>sourceSize</key>
			<string>{104, 95}</string>
		</dict>
		<key>Characters_2_3</key>
		<dict>
			<key>frame</key>
			<string>{{545.5, 256.5}, {100.5, 77.5}}</string>
			<key>offset</key>
			<string>{-1.5, -4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 13}, {100.5, 77.5}}</string>
			<key>sourceSize</key>
			<string>{103.5, 94.5}</string>
		</dict>
		<key>Characters_2_4</key>
		<dict>
			<key>frame</key>
			<string>{{753, 362.5}, {101, 77.5}}</string>
			<key>offset</key>
			<string>{-1.5, -4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 13}, {101, 77.5}}</string>
			<key>sourceSize</key>
			<string>{104, 94.5}</string>
		</dict>
		<key>Characters_2_5</key>
		<dict>
			<key>frame</key>
			<string>{{901, 675.5}, {101, 77.5}}</string>
			<key>offset</key>
			<string>{-1.5, -4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 13}, {101, 77.5}}</string>
			<key>sourceSize</key>
			<string>{104, 94.5}</string>
		</dict>
		<key>Characters_2_6</key>
		<dict>
			<key>frame</key>
			<string>{{858, 362.5}, {100.5, 77.5}}</string>
			<key>offset</key>
			<string>{-1.25, -4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.5, 13}, {100.5, 77.5}}</string>
			<key>sourceSize</key>
			<string>{104, 94.5}</string>
		</dict>
		<key>Characters_2_7</key>
		<dict>
			<key>frame</key>
			<string>{{796, 675.5}, {101, 77.5}}</string>
			<key>offset</key>
			<string>{-1.5, -4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 13}, {101, 77.5}}</string>
			<key>sourceSize</key>
			<string>{104, 94.5}</string>
		</dict>
		<key>Characters_2_8</key>
		<dict>
			<key>frame</key>
			<string>{{900.5, 853}, {101, 77.5}}</string>
			<key>offset</key>
			<string>{-1.5, -4.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 13}, {101, 77.5}}</string>
			<key>sourceSize</key>
			<string>{104, 94.5}</string>
		</dict>
		<key>Characters_Jump_0_0</key>
		<dict>
			<key>frame</key>
			<string>{{691, 671}, {101, 82}}</string>
			<key>offset</key>
			<string>{-0.25, -0.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.5, 13}, {101, 82}}</string>
			<key>sourceSize</key>
			<string>{128.5, 107.5}</string>
		</dict>
		<key>Characters_Jump_0_1</key>
		<dict>
			<key>frame</key>
			<string>{{649, 355.5}, {100, 84.5}}</string>
			<key>offset</key>
			<string>{0.25, -0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 13.5}, {100, 84.5}}</string>
			<key>sourceSize</key>
			<string>{127.5, 110.5}</string>
		</dict>
		<key>Characters_Jump_0_2</key>
		<dict>
			<key>frame</key>
			<string>{{751, 460}, {99, 86}}</string>
			<key>offset</key>
			<string>{0.25, -0.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 13.5}, {99, 86}}</string>
			<key>sourceSize</key>
			<string>{126.5, 111.5}</string>
		</dict>
		<key>Characters_Jump_0_3</key>
		<dict>
			<key>frame</key>
			<string>{{648, 460}, {99, 86}}</string>
			<key>offset</key>
			<string>{0.25, -0.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 13.5}, {99, 86}}</string>
			<key>sourceSize</key>
			<string>{126.5, 111.5}</string>
		</dict>
		<key>Characters_Jump_0_4</key>
		<dict>
			<key>frame</key>
			<string>{{545, 460}, {99, 86}}</string>
			<key>offset</key>
			<string>{0.25, -0.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 13.5}, {99, 86}}</string>
			<key>sourceSize</key>
			<string>{126.5, 111.5}</string>
		</dict>
		<key>Characters_Jump_0_5</key>
		<dict>
			<key>frame</key>
			<string>{{895, 759}, {99, 86}}</string>
			<key>offset</key>
			<string>{0.25, -0.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 13.5}, {99, 86}}</string>
			<key>sourceSize</key>
			<string>{126.5, 111.5}</string>
		</dict>
		<key>Characters_Jump_0_6</key>
		<dict>
			<key>frame</key>
			<string>{{545, 355.5}, {100, 84.5}}</string>
			<key>offset</key>
			<string>{0.25, -0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 13.5}, {100, 84.5}}</string>
			<key>sourceSize</key>
			<string>{127.5, 110.5}</string>
		</dict>
		<key>Characters_Jump_1_1</key>
		<dict>
			<key>frame</key>
			<string>{{793, 757}, {98, 88}}</string>
			<key>offset</key>
			<string>{0.25, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.5, 13.5}, {98, 88}}</string>
			<key>sourceSize</key>
			<string>{124.5, 113}</string>
		</dict>
		<key>Characters_Jump_1_2</key>
		<dict>
			<key>frame</key>
			<string>{{691, 757}, {98, 88}}</string>
			<key>offset</key>
			<string>{0.25, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.5, 13.5}, {98, 88}}</string>
			<key>sourceSize</key>
			<string>{124.5, 113}</string>
		</dict>
		<key>Characters_Jump_2_0</key>
		<dict>
			<key>frame</key>
			<string>{{854, 460.5}, {110.5, 85.5}}</string>
			<key>offset</key>
			<string>{-0.25, -0.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 12.5}, {110.5, 85.5}}</string>
			<key>sourceSize</key>
			<string>{133, 109}</string>
		</dict>
		<key>InterfaceCS_12_0</key>
		<dict>
			<key>frame</key>
			<string>{{104, 190.5}, {100, 46.5}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 46.5}}</string>
			<key>sourceSize</key>
			<string>{100, 46.5}</string>
		</dict>
		<key>InterfaceGO_0_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 241}, {541.5, 93}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {541.5, 93}}</string>
			<key>sourceSize</key>
			<string>{541.5, 93}</string>
		</dict>
		<key>InterfaceGO_4_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 190.5}, {100, 46.5}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 46.5}}</string>
			<key>sourceSize</key>
			<string>{100, 46.5}</string>
		</dict>
		<key>InterfaceMM_4_0</key>
		<dict>
			<key>frame</key>
			<string>{{520, 190.5}, {100, 46.5}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 46.5}}</string>
			<key>sourceSize</key>
			<string>{100, 46.5}</string>
		</dict>
		<key>InterfaceMM_6_0</key>
		<dict>
			<key>frame</key>
			<string>{{416, 190.5}, {100, 46.5}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 46.5}}</string>
			<key>sourceSize</key>
			<string>{100, 46.5}</string>
		</dict>
		<key>InterfaceMM_7_0</key>
		<dict>
			<key>frame</key>
			<string>{{312, 190.5}, {100, 46.5}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 46.5}}</string>
			<key>sourceSize</key>
			<string>{100, 46.5}</string>
		</dict>
		<key>InterfaceMM_8_0</key>
		<dict>
			<key>frame</key>
			<string>{{208, 190.5}, {100, 46.5}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 46.5}}</string>
			<key>sourceSize</key>
			<string>{100, 46.5}</string>
		</dict>
		<key>InterfacePM_0_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 550}, {389.5, 116}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {389.5, 116}}</string>
			<key>sourceSize</key>
			<string>{389.5, 116}</string>
		</dict>
		<key>Obstacles_0_0</key>
		<dict>
			<key>frame</key>
			<string>{{104.5, 143}, {100.5, 43.5}}</string>
			<key>offset</key>
			<string>{5, -1.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17.5, 13.5}, {100.5, 43.5}}</string>
			<key>sourceSize</key>
			<string>{125.5, 68}</string>
		</dict>
		<key>Obstacles_0_1</key>
		<dict>
			<key>frame</key>
			<string>{{840.5, 193.5}, {103, 43.5}}</string>
			<key>offset</key>
			<string>{4.75, -2.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17, 13.5}, {103, 43.5}}</string>
			<key>sourceSize</key>
			<string>{127.5, 66}</string>
		</dict>
		<key>Obstacles_0_2</key>
		<dict>
			<key>frame</key>
			<string>{{431.5, 144}, {105.5, 42.5}}</string>
			<key>offset</key>
			<string>{4.75, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17, 13.5}, {105.5, 42.5}}</string>
			<key>sourceSize</key>
			<string>{130, 65.5}</string>
		</dict>
		<key>Obstacles_0_3</key>
		<dict>
			<key>frame</key>
			<string>{{541, 144}, {103, 42.5}}</string>
			<key>offset</key>
			<string>{4.75, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17, 13.5}, {103, 42.5}}</string>
			<key>sourceSize</key>
			<string>{127.5, 65.5}</string>
		</dict>
		<key>Obstacles_0_4</key>
		<dict>
			<key>frame</key>
			<string>{{624, 193.5}, {105.5, 43.5}}</string>
			<key>offset</key>
			<string>{4.75, -2.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17, 13.5}, {105.5, 43.5}}</string>
			<key>sourceSize</key>
			<string>{130, 65.5}</string>
		</dict>
		<key>Obstacles_0_5</key>
		<dict>
			<key>frame</key>
			<string>{{733.5, 193.5}, {103, 43.5}}</string>
			<key>offset</key>
			<string>{4.75, -2.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17, 13.5}, {103, 43.5}}</string>
			<key>sourceSize</key>
			<string>{127.5, 66}</string>
		</dict>
		<key>Obstacles_0_6</key>
		<dict>
			<key>frame</key>
			<string>{{648, 144}, {100.5, 42.5}}</string>
			<key>offset</key>
			<string>{5, -0.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17.5, 13.5}, {100.5, 42.5}}</string>
			<key>sourceSize</key>
			<string>{125.5, 68}</string>
		</dict>
		<key>Obstacles_0_7</key>
		<dict>
			<key>frame</key>
			<string>{{0, 143}, {100.5, 43.5}}</string>
			<key>offset</key>
			<string>{5, -1.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17.5, 13.5}, {100.5, 43.5}}</string>
			<key>sourceSize</key>
			<string>{125.5, 68}</string>
		</dict>
		<key>Obstacles_1_0</key>
		<dict>
			<key>frame</key>
			<string>{{754.5, 276}, {100.5, 58}}</string>
			<key>offset</key>
			<string>{0.75, -0.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 13}, {100.5, 58}}</string>
			<key>sourceSize</key>
			<string>{121, 83.5}</string>
		</dict>
		<key>Obstacles_1_1</key>
		<dict>
			<key>frame</key>
			<string>{{859, 277.5}, {101.5, 56.5}}</string>
			<key>offset</key>
			<string>{0.25, 0.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 13}, {101.5, 56.5}}</string>
			<key>sourceSize</key>
			<string>{121, 83}</string>
		</dict>
		<key>Obstacles_1_2</key>
		<dict>
			<key>frame</key>
			<string>{{650, 275.5}, {100.5, 58.5}}</string>
			<key>offset</key>
			<string>{0.75, 0.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 13}, {100.5, 58.5}}</string>
			<key>sourceSize</key>
			<string>{121, 85}</string>
		</dict>
		<key>Obstacles_2_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 98.5}, {102.5, 40.5}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {102.5, 40.5}}</string>
			<key>sourceSize</key>
			<string>{102.5, 40.5}</string>
		</dict>
		<key>Obstacles_2_1</key>
		<dict>
			<key>frame</key>
			<string>{{859, 144.5}, {102.5, 42}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {102.5, 42}}</string>
			<key>sourceSize</key>
			<string>{102.5, 42}</string>
		</dict>
		<key>Obstacles_2_2</key>
		<dict>
			<key>frame</key>
			<string>{{106.5, 99.5}, {102.5, 39.5}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {102.5, 39.5}}</string>
			<key>sourceSize</key>
			<string>{102.5, 39.5}</string>
		</dict>
		<key>Obstacles_2_3</key>
		<dict>
			<key>frame</key>
			<string>{{752.5, 144.5}, {102.5, 42}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {102.5, 42}}</string>
			<key>sourceSize</key>
			<string>{102.5, 42}</string>
		</dict>
		<key>Obstacles_2_4</key>
		<dict>
			<key>frame</key>
			<string>{{213, 100}, {100.5, 39}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100.5, 39}}</string>
			<key>sourceSize</key>
			<string>{100.5, 39}</string>
		</dict>
		<key>Obstacles_7_0</key>
		<dict>
			<key>frame</key>
			<string>{{209, 144}, {218.5, 42.5}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {218.5, 42.5}}</string>
			<key>sourceSize</key>
			<string>{218.5, 42.5}</string>
		</dict>
		<key>PZGameplayBasicRunner_platforms_0_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 670}, {687, 175}}</string>
			<key>offset</key>
			<string>{0.25, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.5, 0}, {687, 175}}</string>
			<key>sourceSize</key>
			<string>{687.5, 175}</string>
		</dict>
		<key>PZGameplayBasicRunner_platforms_1_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 849}, {687, 175}}</string>
			<key>offset</key>
			<string>{0.25, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.5, 0}, {687, 175}}</string>
			<key>sourceSize</key>
			<string>{687.5, 175}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>animation_s3.png</string>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>smartupdate</key>
		<string>$ProjectZero:Smartupdate:$</string>
		<key>textureFileName</key>
		<string>animation_s3.png</string>
	</dict>
</dict>
</plist>
