<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BackgroundLayers_5_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 58}, {950, 190}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {950, 190}}</string>
			<key>sourceSize</key>
			<string>{950, 190}</string>
		</dict>
		<key>Characters_0_0</key>
		<dict>
			<key>frame</key>
			<string>{{794, 418.5}, {101, 90.5}}</string>
			<key>offset</key>
			<string>{-0, 0.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.5, 13}, {101, 90.5}}</string>
			<key>sourceSize</key>
			<string>{128, 117}</string>
		</dict>
		<key>Characters_0_3</key>
		<dict>
			<key>frame</key>
			<string>{{899, 324.5}, {101, 90}}</string>
			<key>offset</key>
			<string>{-0, 0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.5, 13}, {101, 90}}</string>
			<key>sourceSize</key>
			<string>{128, 117}</string>
		</dict>
		<key>Characters_1_0</key>
		<dict>
			<key>frame</key>
			<string>{{689, 418.5}, {101, 90.5}}</string>
			<key>offset</key>
			<string>{-0, 0.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.5, 13}, {101, 90.5}}</string>
			<key>sourceSize</key>
			<string>{128, 117}</string>
		</dict>
		<key>Characters_1_1</key>
		<dict>
			<key>frame</key>
			<string>{{794, 324.5}, {101, 90}}</string>
			<key>offset</key>
			<string>{-0, 0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.5, 13}, {101, 90}}</string>
			<key>sourceSize</key>
			<string>{128, 117}</string>
		</dict>
		<key>Characters_1_2</key>
		<dict>
			<key>frame</key>
			<string>{{689, 324.5}, {101, 90}}</string>
			<key>offset</key>
			<string>{-0, 0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.5, 13}, {101, 90}}</string>
			<key>sourceSize</key>
			<string>{128, 117}</string>
		</dict>
		<key>Characters_1_3</key>
		<dict>
			<key>frame</key>
			<string>{{899, 419}, {101, 90}}</string>
			<key>offset</key>
			<string>{-0, 0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.5, 13}, {101, 90}}</string>
			<key>sourceSize</key>
			<string>{128, 117}</string>
		</dict>
		<key>Characters_Jump_2_1</key>
		<dict>
			<key>frame</key>
			<string>{{904, 662.5}, {108.5, 92.5}}</string>
			<key>offset</key>
			<string>{-0, -0.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11.5, 13}, {108.5, 92.5}}</string>
			<key>sourceSize</key>
			<string>{131.5, 117}</string>
		</dict>
		<key>Characters_Jump_2_2</key>
		<dict>
			<key>frame</key>
			<string>{{791.5, 662.5}, {108.5, 92.5}}</string>
			<key>offset</key>
			<string>{-0, -0.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11.5, 13}, {108.5, 92.5}}</string>
			<key>sourceSize</key>
			<string>{131.5, 117}</string>
		</dict>
		<key>InterfaceCS_0_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 640}, {685, 384}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {685, 384}}</string>
			<key>sourceSize</key>
			<string>{685, 384}</string>
		</dict>
		<key>InterfaceCS_3_0</key>
		<dict>
			<key>frame</key>
			<string>{{103, 4}, {47.5, 50}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47.5, 50}}</string>
			<key>sourceSize</key>
			<string>{47.5, 50}</string>
		</dict>
		<key>InterfaceCS_4_0</key>
		<dict>
			<key>frame</key>
			<string>{{933, 556}, {76.5, 80}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {76.5, 80}}</string>
			<key>sourceSize</key>
			<string>{76.5, 80}</string>
		</dict>
		<key>InterfaceCS_5_0</key>
		<dict>
			<key>frame</key>
			<string>{{51.5, 4}, {47.5, 50}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47.5, 50}}</string>
			<key>sourceSize</key>
			<string>{47.5, 50}</string>
		</dict>
		<key>InterfaceCoinShop_2_0</key>
		<dict>
			<key>frame</key>
			<string>{{689, 656}, {98.5, 99}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98.5, 99}}</string>
			<key>sourceSize</key>
			<string>{98.5, 99}</string>
		</dict>
		<key>InterfaceGF_4_0</key>
		<dict>
			<key>frame</key>
			<string>{{689, 513}, {240, 123}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {240, 123}}</string>
			<key>sourceSize</key>
			<string>{240, 123}</string>
		</dict>
		<key>InterfaceGO_1_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 4}, {47.5, 50}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47.5, 50}}</string>
			<key>sourceSize</key>
			<string>{47.5, 50}</string>
		</dict>
		<key>InterfaceGO_2_0</key>
		<dict>
			<key>frame</key>
			<string>{{954, 90}, {47.5, 50}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47.5, 50}}</string>
			<key>sourceSize</key>
			<string>{47.5, 50}</string>
		</dict>
		<key>InterfaceGO_5_0</key>
		<dict>
			<key>frame</key>
			<string>{{817, 7.5}, {100, 46.5}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 46.5}}</string>
			<key>sourceSize</key>
			<string>{100, 46.5}</string>
		</dict>
		<key>InterfaceGO_6_0</key>
		<dict>
			<key>frame</key>
			<string>{{206, 5.5}, {301.5, 48.5}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0.5}, {301.5, 48.5}}</string>
			<key>sourceSize</key>
			<string>{301.5, 49.5}</string>
		</dict>
		<key>InterfaceMM_0_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 252}, {685, 384}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {685, 384}}</string>
			<key>sourceSize</key>
			<string>{685, 384}</string>
		</dict>
		<key>InterfaceMM_2_0</key>
		<dict>
			<key>frame</key>
			<string>{{154.5, 4}, {47.5, 50}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47.5, 50}}</string>
			<key>sourceSize</key>
			<string>{47.5, 50}</string>
		</dict>
		<key>InterfaceMM_5_0</key>
		<dict>
			<key>frame</key>
			<string>{{511.5, 5.5}, {301.5, 48.5}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0.5}, {301.5, 48.5}}</string>
			<key>sourceSize</key>
			<string>{301.5, 49.5}</string>
		</dict>
		<key>InterfacePM_1_0</key>
		<dict>
			<key>frame</key>
			<string>{{954, 144}, {47.5, 50}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47.5, 50}}</string>
			<key>sourceSize</key>
			<string>{47.5, 50}</string>
		</dict>
		<key>InterfacePM_2_0</key>
		<dict>
			<key>frame</key>
			<string>{{954, 198}, {47.5, 50}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47.5, 50}}</string>
			<key>sourceSize</key>
			<string>{47.5, 50}</string>
		</dict>
		<key>Obstacles_1_5</key>
		<dict>
			<key>frame</key>
			<string>{{898, 262}, {100.5, 58.5}}</string>
			<key>offset</key>
			<string>{1, 0.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11.5, 13}, {100.5, 58.5}}</string>
			<key>sourceSize</key>
			<string>{121.5, 85}</string>
		</dict>
		<key>Obstacles_1_6</key>
		<dict>
			<key>frame</key>
			<string>{{793.5, 262}, {100.5, 58.5}}</string>
			<key>offset</key>
			<string>{0.75, 0.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 13}, {100.5, 58.5}}</string>
			<key>sourceSize</key>
			<string>{121, 85}</string>
		</dict>
		<key>Obstacles_1_7</key>
		<dict>
			<key>frame</key>
			<string>{{689, 262}, {100.5, 58.5}}</string>
			<key>offset</key>
			<string>{1, 0.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11.5, 13}, {100.5, 58.5}}</string>
			<key>sourceSize</key>
			<string>{121.5, 85}</string>
		</dict>
		<key>Obstacles_3_0</key>
		<dict>
			<key>frame</key>
			<string>{{940.5, 795}, {69, 92}}</string>
			<key>offset</key>
			<string>{3.5, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19, 5}, {69, 92}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>Obstacles_3_1</key>
		<dict>
			<key>frame</key>
			<string>{{932, 928.5}, {69, 95.5}}</string>
			<key>offset</key>
			<string>{3.5, 0.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19, 1.5}, {69, 95.5}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>Obstacles_5_0</key>
		<dict>
			<key>frame</key>
			<string>{{689, 891}, {239, 133}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {239, 133}}</string>
			<key>sourceSize</key>
			<string>{239, 133}</string>
		</dict>
		<key>Obstacles_8_0</key>
		<dict>
			<key>frame</key>
			<string>{{689, 759}, {247.5, 128}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {247.5, 128}}</string>
			<key>sourceSize</key>
			<string>{247.5, 128}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>animation_s1.png</string>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>smartupdate</key>
		<string>$ProjectZero:Smartupdate:$</string>
		<key>textureFileName</key>
		<string>animation_s1.png</string>
	</dict>
</dict>
</plist>
