<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BackgroundLayers_0_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 1280}, {1900, 768}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1900, 768}}</string>
			<key>sourceSize</key>
			<string>{1900, 768}</string>
		</dict>
		<key>BackgroundLayers_3_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 10}, {1829, 494}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1829, 494}}</string>
			<key>sourceSize</key>
			<string>{1829, 494}</string>
		</dict>
		<key>Characters_1_0</key>
		<dict>
			<key>frame</key>
			<string>{{1833, 121}, {202, 181}}</string>
			<key>offset</key>
			<string>{-0, 0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27, 26}, {202, 181}}</string>
			<key>sourceSize</key>
			<string>{256, 234}</string>
		</dict>
		<key>Coins_0_0</key>
		<dict>
			<key>frame</key>
			<string>{{1581, 521}, {96, 100}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 100}}</string>
			<key>sourceSize</key>
			<string>{96, 100}</string>
		</dict>
		<key>Coins_1_0</key>
		<dict>
			<key>frame</key>
			<string>{{1950, 1116}, {77, 77}}</string>
			<key>offset</key>
			<string>{-0.5, 0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {77, 77}}</string>
			<key>sourceSize</key>
			<string>{80, 80}</string>
		</dict>
		<key>Coins_1_1</key>
		<dict>
			<key>frame</key>
			<string>{{1950, 1197}, {79, 79}}</string>
			<key>offset</key>
			<string>{-0.5, 0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {79, 79}}</string>
			<key>sourceSize</key>
			<string>{80, 80}</string>
		</dict>
		<key>Coins_1_2</key>
		<dict>
			<key>frame</key>
			<string>{{1904, 1287}, {79, 79}}</string>
			<key>offset</key>
			<string>{-0.5, 0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {79, 79}}</string>
			<key>sourceSize</key>
			<string>{80, 80}</string>
		</dict>
		<key>InterfaceCS_2_0</key>
		<dict>
			<key>frame</key>
			<string>{{1904, 1370}, {112, 124}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {112, 124}}</string>
			<key>sourceSize</key>
			<string>{112, 124}</string>
		</dict>
		<key>InterfaceCS_7_0</key>
		<dict>
			<key>frame</key>
			<string>{{1781, 521}, {96, 100}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 100}}</string>
			<key>sourceSize</key>
			<string>{96, 100}</string>
		</dict>
		<key>InterfaceCoinShop_0_0</key>
		<dict>
			<key>frame</key>
			<string>{{0, 508}, {1370, 768}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1370, 768}}</string>
			<key>sourceSize</key>
			<string>{1370, 768}</string>
		</dict>
		<key>InterfaceCoinShop_2_0</key>
		<dict>
			<key>frame</key>
			<string>{{1833, 306}, {197, 198}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {197, 198}}</string>
			<key>sourceSize</key>
			<string>{197, 198}</string>
		</dict>
		<key>InterfaceCoinShop_3_0</key>
		<dict>
			<key>frame</key>
			<string>{{1768, 689}, {197, 237}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {197, 237}}</string>
			<key>sourceSize</key>
			<string>{197, 237}</string>
		</dict>
		<key>InterfaceCoinShop_4_0</key>
		<dict>
			<key>frame</key>
			<string>{{1568, 626}, {196, 300}}</string>
			<key>offset</key>
			<string>{0.5, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {196, 300}}</string>
			<key>sourceSize</key>
			<string>{197, 300}</string>
		</dict>
		<key>InterfaceCoinShop_5_0</key>
		<dict>
			<key>frame</key>
			<string>{{1881, 521}, {95, 100}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {95, 100}}</string>
			<key>sourceSize</key>
			<string>{95, 100}</string>
		</dict>
		<key>InterfaceGF_0_0</key>
		<dict>
			<key>frame</key>
			<string>{{1833, 17}, {95, 100}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {95, 100}}</string>
			<key>sourceSize</key>
			<string>{95, 100}</string>
		</dict>
		<key>InterfaceGF_1_0</key>
		<dict>
			<key>frame</key>
			<string>{{1681, 521}, {96, 100}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 100}}</string>
			<key>sourceSize</key>
			<string>{96, 100}</string>
		</dict>
		<key>InterfaceMM_1_0</key>
		<dict>
			<key>frame</key>
			<string>{{1374, 930}, {572, 346}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {572, 346}}</string>
			<key>sourceSize</key>
			<string>{572, 346}</string>
		</dict>
		<key>InterfacePM_3_0</key>
		<dict>
			<key>frame</key>
			<string>{{1932, 17}, {95, 100}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {95, 100}}</string>
			<key>sourceSize</key>
			<string>{95, 100}</string>
		</dict>
		<key>Obstacles_1_1</key>
		<dict>
			<key>frame</key>
			<string>{{1374, 508}, {203, 113}}</string>
			<key>offset</key>
			<string>{0.5, 0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20, 26}, {203, 113}}</string>
			<key>sourceSize</key>
			<string>{242, 166}</string>
		</dict>
		<key>Obstacles_3_0</key>
		<dict>
			<key>frame</key>
			<string>{{1904, 1669}, {138, 184}}</string>
			<key>offset</key>
			<string>{7, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38, 10}, {138, 184}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>Obstacles_3_1</key>
		<dict>
			<key>frame</key>
			<string>{{1904, 1857}, {138, 191}}</string>
			<key>offset</key>
			<string>{7, 1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38, 3}, {138, 191}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>Obstacles_4_0</key>
		<dict>
			<key>frame</key>
			<string>{{1904, 1498}, {102, 167}}</string>
			<key>offset</key>
			<string>{-1, -7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48, 24}, {102, 167}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>Obstacles_6_0</key>
		<dict>
			<key>frame</key>
			<string>{{1374, 625}, {190, 301}}</string>
			<key>offset</key>
			<string>{-0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {190, 301}}</string>
			<key>sourceSize</key>
			<string>{190, 301}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>animation_s0.png</string>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>smartupdate</key>
		<string>$ProjectZero:Smartupdate:$</string>
		<key>textureFileName</key>
		<string>animation_s0.png</string>
	</dict>
</dict>
</plist>
